:root {
    --main: #1fa1f1;
    --black: #151618;
    --next-black: #5c5c5c;
    --white: #f5f5f5;
    --next-white: #e7e7e7;
    --gray: #cad4dd;
    --light-blue: #1fa1f1;
    --purple: #8246c6;
    --border-color: #7591AD;
    --text-color: #34495e;
    --red: #EC3E27;
    --pink: #fd79a8;
    --blue: #0984e3;
    --green: #00b894;
    --yellow: #fdcb6e;
    --light-purple: #e056fd;
    --orange: #F97F51;
    --light-green: #BDC581;
    --opa-gray: rgba(240, 248, 255, 0.815);
    --opa-white: rgba(255, 255, 255, 0.78);
    --start-width: 350px;
    --start-av-width: 152px;
    --start-av-top: -80px;
    --shadow-color: #99a4ab;
}

@font-face {
    font-family: "Heiti";
    src: url(../tff/FangZhengHeiTiJianTi-1.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url(../tff/Ubuntu-Mono.ttf);
    font-weight: normal;
    font-style: normal;
}

@keyframes windwos-start {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slow-end {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes false-password {
    20% {
        transform: translate(-16px, -80px);
    }

    45% {
        transform: translate(16px, -80px);
    }

    70% {
        transform: translate(-7px, -80px);
    }

    93% {
        transform: translate(4px, -80px);
    }

    100% {
        transform: translate(0px, -80px);
    }
}

@keyframes lock-start {
    0% {
        top: 0px;
    }

    100% {
        top: -100vh;
    }
}

html,
body,
div {
    margin: 0;
    padding: 0;
}


html,
body {
    width: 100%;
    height: 100%;
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    background-color: var(--black);
}

#start-windows {
    z-index: 4;
    animation: slow-end 1.0s ease-in-out 5s;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    align-items: center;
}

#start-main {
    text-align: center;
    margin: 0 auto;
}

.start-windows-img {
    animation: windwos-start 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    height: 200px;
}

/* .loading {
    margin-top: 25vh;
} */

#lock {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.avatar {
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-image: url(../img/avatar.png);
    background-repeat: no-repeat;
    background-size: 250px;
    border: 4px #ffffff solid;
    box-shadow: 0px 0px 12px #c0ddf0;
}

.lock-main {
    display: inline-block;
}

.lock-line {
    height: 3px;
    width: 300px;
    border-radius: 999px;
    background-color: var(--gray);
    transform: translateY(-80px);
    margin-left: 20px;
}

input {
    transition: all .2s ease-in-out;
    outline: none;
    color: var(--black);
    background-color: var(--opa-white);
    border: 2px rgb(132, 191, 247) solid;
    border-radius: 5px;
}

#input-password {
    transition: all .2s ease-in-out;
    color: var(--white);
    background-color: #253047c9;
    border: 2px rgb(132, 191, 247) solid;
    border-radius: 5px;
    width: 170px;
    height: 23px;
    transform: translate(0px, -80px);
    /* transform: translateY(-80px);  */
    margin-left: 23px;
}

#input-password:focus {
    outline: none;
    border: 2px var(--main) solid;
}

#user-name {
    font-size: 46px;
    transform: translateY(-85px);
    color: var(--white);
    margin-left: 28px;
}

#windos-main {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(https://pic.imgdb.cn/item/63ea3acd4757feff330ab139.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#dock {
    z-index: 2;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: var(--opa-gray);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
}

.dock-icon {
    transition: all .14s ease-out;
    border-radius: 4px;
    margin: auto;
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
}

.dock-icon:hover {
    background-color: #fffa;
}

.dock-icon:active>.icon-main {
    transition: .01s ease;
    height: 14px;
    width: 14px;
}

.icon-main {
    transition: .2s ease-out;
    margin: 0 auto;
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: cover;
}
#icon-windows {
    background-image: url(../img/icon.png);
}
@keyframes dock-start {
    0% {
        opacity: 0;
        bottom: -40px;
    }

    100% {
        opacity: 1;
        bottom: 55px;
    }
}

@keyframes dock-end {
    0% {
        opacity: 1;
        bottom: 55px;
    }

    100% {
        opacity: 0;
        bottom: -40px;
    }
}

#dock-start {
    transition: all .3s ease;
    z-index: 1;
    display: none;
    height: 520px;
    width: var(--start-width);
    background-color: var(--opa-white);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    position: fixed;
    bottom: 55px;
    left: calc(50vw - 200px);
    border: 1px rgba(90, 90, 90, 0.849) solid;
}

#root {
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100vh - 44px);
    width: 100vw;
}

#rg-menu {
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
    /* display: none; */
    width: 230px;
    border-radius: 7px;
    background-color: var(--opa-gray);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: fixed;
    padding-left: 0;
}

#menu-main {
    margin: 0px;
    padding: 0px;
}
ul {
    padding-inline-start: 0px;
}
ul>li {
    list-style-type: none;
    height: 35px;
    display: flex;
    align-items: center;
}



.lf-li {
    float: left;
}

.rg-li {
    float: right;
}


.more-li-main>div>img,
.li-main>div>img {
    height: 16px;
    display: block;
}

.li-main,
.more-li-main {
    display: block;
    transition: all .1s ease;
    height: 30px;
    width: 200px;
    margin-left: 6px;
    padding-left: 8px;
    padding-right: 10px;
    border-radius: 5px;
}
.more-li-main {
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 2px;
}
.li-main:hover,
.more-li-main:hover {
    background-color: rgba(194, 194, 194, 0.5);
}
@keyframes menu-more-li {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0px);
    }
}
.menu-more-li {
    transition: transform .4s ease-out;
    background-color: var(--opa-gray);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 7px;
}
.rg-menu-more {
    display: none;
    overflow: hidden;
    position: absolute;
    margin-left: 220px;
}
#start-av {
    transition: all .3s ease;
    height: var(--start-av-width);
    margin-top: var(--start-av-top);
    display: inline-block;
    border-radius: 100%;
    border: 4px #ffffff solid;
    box-shadow: 0px 0px 12px #c0ddf0;
}

.start-lf {
    float: left;
    height: 100%;
    width: 350px;
    display: inline-block;
    text-align: center;

}

.start-user-name {
    font-family: "Heiti";
    margin: auto;
    display: inline-block;
    margin-top: -7px;
    font-size: 37px;
}

.start-input {
    transition: all .3s ease;
    margin-left: 45px;
    border: 2px rgb(132, 191, 247) solid;
    border-radius: 5px;
    width: 260px;
    position: relative;
    background-color: var(--opa-white);
}

.start-input:hover {
    background-color: var(--opa-gray);
}

#start-input-inner {
    width: 200px;
    height: 24px;
    border-radius: 6px;
    background-color: #fff0;
    border: 0;
}

.start-input-preffix {
    position: absolute;
    left: 0px;
    height: 100%;
    top: 0;
    text-align: center;
    transition: all .3s;
}

.start-input-preffix-icon {
    display: inline-block;
    width: 25px;
    height: 100%;
    margin-left: 10px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Brands", "Font Awesome 5 Free";
}

.start-input-preffix-icon:before {
    color: var(--light-purple);
    height: 100%;
    display: flex;
    align-items: center;
    content: '\f002';
    font-weight: 900;
}

.sm {
    font-size: 15px;
}

.title {
    font-weight: bolder;
}

.start-tit {
    float: left;
    margin-left: 45px;
    margin-top: 12px;
}

.start-row {
    margin-top: 22px;
    margin-left: 45px;
    margin-right: 25px;
}

.start-row-line {
    margin-top: 6px;
    border-radius: 5px;
    transition: .2s ease;
    text-align: left;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #fff0;
}

.start-row-line:hover {
    background-color: var(--opa-white);
}

.start-row-line:active>span {
    transition: .03s ease-out;
    margin-left: 12px;
    color: var(--next-black);
}

.start-row-line:active>.start-row-img {
    transition: .03s ease-out;
    height: 22px;
    width: 22px;
    margin-left: 17px;
}

.start-row-img {
    transition: .15s ease;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: 12px;
}

.start-row-dis {
    transition: .15s ease;
    color: var(--black);
    margin-left: 7px;
}

.shutdown-button {
    display: inline-block;
    transition: all .1s ease;
    height: 42px;
    width: 42px;
    text-align: center;
    border-radius: 4px;
    border: 0;
    background-color: #fff0;
    position: absolute;
    left: 12px;
    bottom: 2px;
}

.shutdown-button:hover {
    background-color: var(--opa-gray);
}

.shutdown-button>i {
    font-weight: 501;
    font-size: 17px;

}

.shutdowns {
    transition: all .3s ease;
    display: none;
    background-color: var(--opa-white);
    width: 90px;
    text-align: left;
    position: absolute;
    left: -12px;
    bottom: 49px;
    padding-bottom: 12px;
    padding-top: 6px;
    padding-left: 4px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #99a4ab;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.shutdowns>div {
    transition: all .3s ease;
    margin-top: 6px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
}

.shutdowns>div>span {
    line-height: 29px;
    margin-left: 5px;
}

.shutdowns>div:hover {
    background-color: var(--next-white);
}

#choice {
    transition: 0s;
    position: fixed;
    display: none;
    background-color: #2a83ff5f;
    border: 1px #2a83ffb7 solid;
}

@keyframes start-rg {
    0% {
        transform: scale(.8) translateY(120px);
        opacity: 0;
    }

    60% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

.start-rg {
    overflow: hidden;
    float: right;
    display: inline-block;
    height: 100%;
    width: 550px;
}

.start-rg-row {
    display: flex;
    align-items: center;
    height: 242px;
    width: 526px;
    margin-left: 12px;
    margin-top: 12px;
}

.start-rg-row-main {

    overflow: auto;
    width: 526px;
    margin: 0 auto;
    height: 218px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    background-color: #ffffff85;
    box-shadow: 0px 1.4px 3px #00000028;
}

.start-rg-tit {
    font-size: 90%;
    color: var(--black);
    font-weight: 455;
}

.more-button {
    transition: all .1s ease;
    float: right;
    background-color: var(--opa-white);
    border: 0;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    border-radius: 3px;
    box-shadow: 0px 1px 3px #00000028;
}

.more-button>i {
    margin-left: 7px;
}

.more-button:hover {
    background-color: var(--opa-gray);
}

.more-button:active {
    box-shadow: 0px 0px .5px #00000028;
}
